* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('../img/bkg/bkg-img.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 1300px;
  margin: 50px auto 0 auto;
  /* outline: solid red; */
  background-color: white;
}

.login-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 25px;
  padding-top: 25px;
}

.button-register,
.button-login {
  display: inline-block;
  justify-content: end;
  padding: 0 20px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
  font-style: 15px;
  font-weight: 400;
  border: none;
  color: white;
}

.button-register {
  background-color: #9c9b95;
}

.button-login {
  background-color: #b47474 ;
}

.menu-list-header {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color:#efe2c3;
  text-decoration: none;
  padding-left: 50px;
  font-family: 'PT Sans', sans-serif;
}

.main-menu-link-header {
  font-weight: 600;
  color: black;
  font-size: 17px;
}

.search-header {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.search-box {
  position: relative;
}

.header-name {
  font-family: "Montserrat", sans-serif;
  margin: 12px 0 0 100px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-feather-icon {
  width: 50px;
  height: 50px;
  margin: 14px 0 0px 30px;
}

.search-imput {
  display: inline-block;
  margin: 15px 0 0 20px ;
  width: 800px;
  height: 50px;
  border: 1px solid black;
  padding-left: 20px;
  background-color: #fafafa;
  border-radius: 7px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.loupe-icons {
  position: absolute;
  cursor: pointer;
  align-items: center;
  height: 22px;
  width: 22px;
  right: 25px;
  top: 28px;
}

.search-text {
  display: block;
  position: absolute;
  padding: 0 10px;
  height: 18px;
  margin-bottom: 0;
}

.submit {
  background-color: white;
}

.fa-moon-o {
  cursor: pointer;
  margin: 12px 0px 0px 45px;
  font-size: 35px;
  color: black;
}

.icon-header {
  max-width: 5%;
  margin-right: 4px;
}

.section {
  display: flex;
  gap: 10px;
}

.page-content {
  min-height: calc(100vh - 70px - 70px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.poems {
  display: flex;
  flex-wrap: wrap;
}

.poem {
  margin: 25px 0 0 0;
  background-color: black;
  border-radius: 10px;
  color: white;
  /* height: 254px; */
}


.poem-list {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.poem {
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0;
}

.poem::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

.poem:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.poem__mon-ami {
  background-image: url(../img/photo/mon-ami/mon-ami-1.jpg);
}

.poem__stop-me {
  background-image: url(../img/photo/stop-me/stop-me-1.jpg);
}

.poem__doomed {
  background-image: url(../img/photo/doomed/doomed-1.jpg);
}

.poem__calmness {
  background-image: url(../img/photo/calmness/calmness-1.jpg);
}

.poem__nothing {
  background-image: url(../img/photo/nothing/nothing-1.jpg);
}

.poem__forgot {
  background-image: url(../img/photo/forgot/forgot-1.jpg);
}

.poem__name {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #b47474;
  margin: 0 auto;
  color: white;
  text-align: center;
  min-height: 70px;
  padding: 25px 150px;
}

.description {
  font-size: 15px;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
}

.social__link {
  color: white;
}

.fa-instagram {
  width: 40px;
  padding: 0 5px;
}

.fa-telegram {
  width: 40px;
  padding: 0 5px;
}